Code to import and clean (if necessary) data for the selected California homes in pecan_street_metadata_analysis

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Plot formatting defaults
plt.rc('ytick', direction='out')
plt.rc('grid', color='w', linestyle='solid')
plt.rcParams['figure.figsize'] = [10, 8]
plt.rcParams.update({'font.size': 22})
plt.rc('xtick', direction='out')
plt.rc('patch', edgecolor='#E6E6E6')
plt.rc('lines', linewidth=2)

In [ ]:
ca_ids = pd.read_csv('ca_ids.csv', header=None)

In [44]:
ca_ids = ca_ids[0].to_list()

In [48]:
ca_ids

[11896, 2354, 4509, 4315, 11, 4622, 9477, 8277, 11478, 8908, 9221, 864, 3637]

In [33]:
df = pd.read_csv('15minute_data_california.csv')
df = df[['dataid', 'local_15min', 'battery1', 'grid', 'solar', 'solar2']]

In [49]:
# df2 = df.loc[df.dataid.astype(int).isin(ca_ids)]
# TODO: Why are none of the IDs I want in the dataset???

df2 = df.loc[df.solar.notnull()]

In [45]:
df.dataid.astype(int).isin(ca_ids)

0         False
1         False
2         False
3         False
4         False
          ...
805519    False
805520    False
805521    False
805522    False
805523    False
Name: dataid, Length: 805524, dtype: bool

In [24]:
df.columns

Index(['dataid', 'local_15min', 'battery1', 'grid', 'solar', 'solar2'], dtype='object')

In [25]:
df.head()

   dataid             local_15min  battery1   grid  solar  solar2
0    3687  2014-01-01 00:00:00-06       NaN  1.717    NaN     NaN
1    3687  2014-01-01 00:15:00-06       NaN  1.905    NaN     NaN
2    3687  2014-01-01 00:30:00-06       NaN  1.923    NaN     NaN
3    3687  2014-01-01 00:45:00-06       NaN  1.535    NaN     NaN
4    3687  2014-01-01 01:00:00-06       NaN  1.010    NaN     NaN

In [50]:
df2.head()

        dataid             local_15min  battery1   grid  solar  solar2
392516    1731  2018-03-16 05:00:00-05       NaN  0.226    0.0     NaN
392517    1731  2018-03-16 05:15:00-05       NaN  0.257    0.0     NaN
392518    1731  2018-03-16 05:30:00-05       NaN  0.163    0.0     NaN
392519    1731  2018-03-16 05:45:00-05       NaN  0.174    0.0     NaN
392520    1731  2018-03-16 06:00:00-05       NaN  0.182    0.0     NaN

In [51]:
df2.dataid.unique()

array([1731, 4495, 8342, 9836])