Code to import and clean (if necessary) data for the selected California homes in pecan_street_metadata_analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Plot formatting defaults
plt.rc('ytick', direction='out')
plt.rc('grid', color='w', linestyle='solid')
plt.rcParams['figure.figsize'] = [10, 8]
plt.rcParams.update({'font.size': 22})
plt.rc('xtick', direction='out')
plt.rc('patch', edgecolor='#E6E6E6')
plt.rc('lines', linewidth=2)

In [2]:
tx_ids = pd.read_csv('tx_ids.csv', header=None)

In [3]:
tx_ids = tx_ids[0].to_list()

In [4]:
tx_ids

[8707, 974, 2925, 6836, 5403]

In [5]:
df = pd.read_csv('15minute_data_austin.csv')
df = df[['dataid', 'local_15min', 'battery1', 'grid', 'solar', 'solar2']]

In [15]:
# df2 = df.loc[df.dataid.astype(int).isin(tx_ids)]
df2 = df.loc[df.solar.notnull()]

In [16]:
df.columns

Index(['dataid', 'local_15min', 'battery1', 'grid', 'solar', 'solar2'], dtype='object')

In [17]:
df.head()

   dataid             local_15min  battery1   grid  solar  solar2
0     661  2018-11-21 15:15:00-06       NaN  0.124  0.276     NaN
1     661  2018-11-21 15:30:00-06       NaN  0.251  0.167     NaN
2     661  2018-11-21 15:45:00-06       NaN  0.419  0.179     NaN
3     661  2018-11-21 16:00:00-06       NaN  0.833  0.076     NaN
4     661  2018-11-21 16:15:00-06       NaN  1.105  0.064     NaN

In [18]:
df2.head()

   dataid             local_15min  battery1   grid  solar  solar2
0     661  2018-11-21 15:15:00-06       NaN  0.124  0.276     NaN
1     661  2018-11-21 15:30:00-06       NaN  0.251  0.167     NaN
2     661  2018-11-21 15:45:00-06       NaN  0.419  0.179     NaN
3     661  2018-11-21 16:00:00-06       NaN  0.833  0.076     NaN
4     661  2018-11-21 16:15:00-06       NaN  1.105  0.064     NaN

In [19]:
df2.dataid.unique()

array([ 661, 1642, 2335, 2361, 2818, 3039, 3456, 3538, 4031, 4373, 4767,
       5746, 6139, 7536, 7719, 7800, 8156, 9019, 9160, 9278])